<div class="app-grid">
    {% for album in albums %}
        <article class="grid-item">
            {% if home is not defined %}
                <div class="grid-item-actions">
                    <a href="{{ path('album.edit', {'slug': album.slug}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{ include('album/_delete_form.html.twig') }}
                </div>
            {% endif %}

            <a href="{{ path('album.show', {'slug': album.slug}) }}">
                <figure class="grid-item-image-container">
                    <img src="
                        {% if album.cover %}
                            {{ asset('img/albums/' ~ album.cover) }}
                        {% else %}
                            {{ asset('img/albums/default.png') }}
                        {% endif %}
                    "
                            class="grid-item-image"
                            alt="{{ album.title }}"
                    />
                </figure>
            </a>

            <h3 class="grid-item-title">
                <a href="{{ path('album.show', {'slug': album.slug}) }}">{{ album.title }}</a>
            </h3>
            {% if home is not defined %}
                <h4 class="grid-item-subtitle">
                    {{ album.year }}
                </h4>
            {% endif %}
            <h4 class="grid-item-subtitle">
                <a href="{{ path('artist.show', {'slug': album.artist.slug}) }}">{{ album.artist.name }}</a>
            </h4>

            <p class="grid-item-stats">
                <i class="fas fa-headphones"></i>
                <span class="nbplays">{{ album.nbPlays }}</span>

                <span class="lastlistened">
                    {% if album.lastListened %}
                        &nbsp;~&nbsp;{{ album.lastListened | date }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </span>

                <a href="#" class="btn-play" data-album="{{ album.id }}">
                    <i class="fas fa-play"></i>
                </a>
            </p>
        </article>
    {% endfor %}
</div>
