<div class="app-grid {{ alt }}">
    {% for album in albums %}
        <article class="grid-item">
            {% if home is not defined %}
                <div class="grid-item-actions">
                    <a href="{{ path('album.edit', {'slug': album.slug}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    {{ include('album/_delete_form.html.twig') }}
                </div>
            {% endif %}
            <a href="{{ path('album.show', {'slug': album.slug}) }}">
                <figure class="grid-item-image-container">
                    <img src="
                        {% if album.cover %}
                            {{ asset('img/albums/' ~ album.cover) }}
                        {% else %}
                            {{ asset('img/albums/default.png') }}
                        {% endif %}
                    "
                            class="grid-item-image"
                            alt="{{ album.title }}"
                    />
                </figure>
            </a>
            <h3 class="grid-item-title">
                <a href="{{ path('album.show', {'slug': album.slug}) }}">{{ album.title }}</a>
            </h3>
            <h4 class="grid-item-subtitle">
                <a href="{{ path('artist.show', {'slug': album.artist.slug}) }}">{{ album.artist.name }}</a>
            </h4>
            <p class="grid-item-text">
                <i class="fas fa-headphones"></i>
                {{ album.nbPlays }} écoute{% if album.nbPlays > 1 %}s{% endif %}
            </p>
        </article>
    {% endfor %}
</div>
