<section id="artists">
    <header>
        <h2>
            <i class="fas fa-users"></i>
            les artistes
        </h2>

        <div class="actions">
            <a href="{{ path('artist.list') }}">
                <i class="fas fa-list"></i>
                liste
            </a>
        </div>
    </header>

    <div class="app-grid">
        <div class="grid-item">
            <i class="fas fa-users fa-4x"></i>
            <h3 class="grid-item-title">
                <a href="{{ path('artist') }}">
                    {{ artists | length }} artiste{% if artists | length > 1 %}s{% endif %}
                </a>
            </h3>
            <h4 class="grid-item-subtitle">
                <a href="{{ path('category') }}">
                    dans {{ categories | length }} catégorie{% if categories | length >1 %}s{% endif %}
                </a>
            </h4>
        </div>
        <div class="grid-item">
            <i class="fas fa-headphones fa-4x"></i>
            <h3 class="grid-item-title">
                {% set artistsLastListened = [] %}
                {% for album in albumsLastListened %}
                    {% if album.artist.id not in artistsLastListened %}
                        {% set artistsLastListened = artistsLastListened | merge([album.artist.id]) %}
                    {% endif %}
                {% endfor %}
                {{ dump(artistsLastListened) }}
                {{ artistsLastListened | length }} artiste{% if artistsLastListened | length > 1 %}s{% endif %} écouté{% if artistsLastListened | length > 1 %}s{% endif %}
            </h3>
            <h4 class="grid-item-subtitle">
                depuis cette app
            </h4>
        </div>
        <div class="grid-item">
            <i class="fas fa-heart fa-4x"></i>
            <h3 class="grid-item-title">
                {% set artistsPlayed = [] %}
                {% for album in albumsPlayed %}
                    {% if album.artist.id not in artistsPlayed %}
                        {% set artistsPlayed = artistsPlayed | merge([album.artist.id]) %}
                    {% else %}
                        {% set artistsPlayed = artistsPlayed | filter((k, v) => v != album.artist.id) %}
                    {% endif %}
                {% endfor %}
                {{ artistsPlayed | length }} artiste{% if artistsPlayed | length > 1 %}s{% endif %} écouté{% if artistsPlayed | length > 1 %}s{% endif %}
            </h3>
            <h4 class="grid-item-subtitle">
                plus d'une fois
            </h4>
        </div>
        <div class="grid-item">
            <i class="fas fa-heart-broken fa-4x"></i>
            <h3 class="grid-item-title">
                {% set artistsNeverListened = [] %}
                {% set i = 0 %}
                {% for album in albumsNeverListened %}
                    {% if album.artist.id not in artistsNeverListened %}
                        {% set artistsNeverListened = artistsNeverListened | merge([album.artist.id]) %}
                    {% else %}
                        {% set artistsNeverListened = artistsNeverListened | filter((v,k) => k == i) %}
                    {% endif %}
                    {% set i = i + 1 %}
                {% endfor %}
                {{ dump(artistsNeverListened) }}
                {{ artistsNeverListened | length }} artiste{% if artistsNeverListened | length > 1 %}s{% endif %} jamais écouté{% if artistsNeverListened | length > 1 %}s{% endif %}
            </h3>
            <h4 class="grid-item-subtitle">
                même pas une fois ;(
            </h4>
        </div>
    </div>
</section>
