{% extends 'base.html.twig' %}

{% block body %}
    <header class="app-header">
        <h1>{% block title %}{% endblock %}</h1>
    </header>

    <nav class="app-navigation">
        <a href="{{ path('home') }}" title="Retour à l'accueil" {% if app.request.get('_route') == 'home' %}class="active"{% endif %}>
            <i class="fas fa-home"></i>
            Accueil
        </a>

        <a href="{{ path('category') }}" title="Toutes les catégories" {% if 'category' in app.request.get('_route') %}class="active"{% endif %}>
            <i class="fas fa-list-alt"></i>
            Catégories
        </a>

        <a href="{{ path('artist') }}" title="Tous les artistes" {% if 'artist' in app.request.get('_route') %}class="active"{% endif %}>
            <i class="fas fa-users-cog"></i>
            Artistes
        </a>

        <a href="{{ path('album') }}" title="Tous les artistes" {% if 'album' in app.request.get('_route') %}class="active"{% endif %}>
            <i class="fas fa-record-vinyl"></i>
            Albums
        </a>

        <a href="{{ path('stats') }}" title="Les Stats" {% if 'stats' in app.request.get('_route') %}class="active"{% endif %}>
            <i class="fas fa-signal"></i>
            Stats
        </a>
    </nav>

    <main class="app-main">
        {% block main %}{% endblock %}
    </main>
{% endblock %}
