{% extends 'layouts/default.html.twig' %}

{% block title %}détails de l'artiste{% endblock %}
{% block bodyclass %}artist{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-list-alt"></i>
                gérez vos artistes
            </h2>
        </header>

        <main>
            <img src="
                        {% if artist.cover %}
                            {{ asset('img/artists/' ~ artist.cover) }}
                        {% else %}
                            {{ asset('img/artists/default.png') }}
                        {% endif %}
                    "
                    class="grid-item-image"
                    alt="{{ artist.name }}"
            />

            <h3>{{ artist.name }}</h3>
        </main>

        <aside>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                {{ artist.albums | length }} album{% if artist.albums | length > 1 %}s{% endif %}
            </h2>
        </aside>

        <div class="actions">
            <a href="{{ path('artist') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                retour à la liste
            </a>

            <a href="{{ path('artist.edit', {'slug': artist.slug}) }}">
                <i class="fas fa-edit"></i>
            </a>

            {{ include('artist/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
