{% extends 'layouts/default.html.twig' %}

{% block title %}tous les albums{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-list-alt"></i>
                gérez vos albums
            </h2>
        </header>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Cover</th>
                    <th>Year</th>
                    <th>NbPlays</th>
                    <th>LastListened</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{ album.id }}</td>
                        <td>{{ album.title }}</td>
                        <td>{{ album.slug }}</td>
                        <td>{{ album.cover }}</td>
                        <td>{{ album.year }}</td>
                        <td>{{ album.nbPlays }}</td>
                        <td>{{ album.lastListened ? album.lastListened|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('album.show', {'id': album.id}) }}">show</a>
                            <a href="{{ path('album.edit', {'id': album.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('album.new') }}">Create new</a>
    </section>
{% endblock %}
