{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos albums{% endblock %}
{% block bodyclass %}album{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                détails de l'album
            </h2>
        </header>

        <main>
            <figure class="grid-item-image-container">
                <img src="
                        {% if album.cover %}
                            {{ asset('img/albums/' ~ album.cover) }}
                        {% else %}
                            {{ asset('img/albums/default.png') }}
                        {% endif %}
                    "
                        class="grid-item-image"
                        alt="{{ album.title }}"
                />
            </figure>

            <h3>{{ album.title }}</h3>
            <h4>{{ album.artist.name }}</h4>
            <h5>{{ album.category.name }}</h5>
        </main>

        <aside>
            <h2>
                <i class="fas fa-headphones"></i>
                {{ album.nbPlays }} écoute{% if album.nbPlays > 1 %}s{% endif %}
            </h2>
        </aside>

        <div class="actions">
            <a href="{{ path('album') }}">
                <i class="fas fa-arrow-alt-circle-left"></i>
                retour à la liste
            </a>

            <a href="{{ path('album.edit', {'slug': album.slug}) }}">
                <i class="fas fa-edit"></i>
            </a>

            {{ include('album/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
