{% extends 'layouts/default.html.twig' %}

{% block title %}gérez vos albums{% endblock %}
{% block bodyclass %}album show{% endblock %}

{% block main %}
    <section>
        <header>
            <h2>
                <i class="fas fa-record-vinyl"></i>
                détails de l'album
            </h2>

            <div class="actions">
                <a href="{{ path('album') }}">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    retour à la liste
                </a>

                <a href="{{ path('album.edit', {'slug': album.slug}) }}">
                    <i class="fas fa-edit"></i>
                </a>

                {{ include('album/_delete_form.html.twig') }}
            </div>
        </header>

        <main>
            <figure class="grid-item-image-container">
                <img src="
                        {% if album.cover %}
                            {{ asset('img/albums/' ~ album.cover) }}
                        {% else %}
                            {{ asset('img/albums/default.png') }}
                        {% endif %}
                    "
                        class="grid-item-image"
                        alt="{{ album.title }}"
                />
            </figure>

            <h3>{{ album.title }}</h3>
            <p>{{ album.year }}</p>
            <h4>
                <a href="{{ path('artist.show', {'slug': album.artist.slug}) }}">{{ album.artist.name }}</a>
            </h4>
            <h5>
                <a href="{{ path('category.show', {'slug': album.category.slug}) }}">{{ album.category.name }}</a>
            </h5>
        </main>

        <aside>
            <h2>
                <i class="fas fa-headphones"></i>
                <span class="nbplays">{{ album.nbPlays }}</span>

                <span class="lastlistened">
                    {% if album.lastListened %}
                        &nbsp;~&nbsp;{{ album.lastListened | date }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </span>

                <a href="#" class="btn-play" data-album="{{ album.id }}">
                    <i class="fas fa-play"></i>
                </a>
            </h2>
        </aside>
    </section>
{% endblock %}
