<section id="albums">
    <header>
        <h2>
            <i class="fas fa-record-vinyl"></i>
            les albums
        </h2>

        <div class="actions">
            <a href="{{ path('stats.list') }}">
                <i class="fas fa-list"></i>
                liste
            </a>
        </div>
    </header>

    <div class="app-grid">
        <div class="grid-item">
            <a href="{{ path('album') }}">
                <i class="fas fa-record-vinyl fa-4x"></i>
                <h3 class="grid-item-title">

                    {{ albums | length }} album{% if albums | length > 1 %}s{% endif %}
                </h3>
            </a>
            <h4 class="grid-item-subtitle">
                <a href="{{ path('category') }}">
                    dans {{ categories | length }} catégorie{% if categories | length >1 %}s{% endif %}
                </a>
            </h4>
        </div>
        <div class="grid-item">
            <a href="{{ path('stats.played') }}">
                <i class="fas fa-headphones fa-4x"></i>
                <h3 class="grid-item-title">
                    {{ albumsLastListened | length }} album{% if albumsLastListened | length > 1 %}s{% endif %} écouté{% if albumsLastListened | length > 1 %}s{% endif %}
                </h3>
            </a>
            <h4 class="grid-item-subtitle">
                depuis cette app
            </h4>
        </div>
        <div class="grid-item">
            <a href="{{ path('stats.mostplayed') }}">
                <i class="fas fa-heart fa-4x"></i>
                <h3 class="grid-item-title">
                    {{ albumsPlayed | length }} album{% if albumsPlayed | length > 1 %}s{% endif %} écouté{% if albumsPlayed | length > 1 %}s{% endif %}
                </h3>
            </a>
            <h4 class="grid-item-subtitle">
                plus d'une fois
            </h4>
        </div>
        <div class="grid-item">
            <a href="{{ path('stats.notplayed') }}">
                <i class="fas fa-heart-broken fa-4x"></i>
                <h3 class="grid-item-title">
                    {{ albumsNeverListened | length }} album{% if albumsNeverListened | length > 1 %}s{% endif %} jamais écouté{% if albumsNeverListened | length > 1 %}s{% endif %}
                </h3>
            </a>
            <h4 class="grid-item-subtitle">
                même pas une fois ;(
            </h4>
        </div>
        <div class="grid-item">
            <a href="{{ path('stats.last') }}">
                <i class="fa-solid fa-sailboat fa-4x"></i>
                <h3 class="grid-item-title">
                    Les derniers arrivés
                </h3>
            </a>
            <h4 class="grid-item-subtitle">
                Tous neufs ou presque !
            </h4>
        </div>
    </div>
</section>
